body {
    background-color: green;
}

nav {
    background-color: pink;
    height: 100px;
}

nav button {
    background-color: yellow;
    height: 50px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}